#title_input {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
}
#description_input {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
}
label {
  display: block;
  margin: 1rem;
}
textarea {
  resize: none;
}
.input_field {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#account_form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8rem;
  padding-left: 3rem;
}
