#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: rgb(74, 74, 74);
  border-width: 0.2rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.1rem;
  width: 71.8rem;
  height: 3rem;
}
.headerLink {
  margin-left: 2rem;
}

#exit {
  margin-left: 35rem;
  cursor: pointer;
}
