.accountListItem {
  margin: 1rem;
  padding: 2rem;
  border-style: solid;
  border-color: rgb(156, 156, 156);
  border-width: 0.2rem;
  border-radius: 0.7rem;
  width: 57rem;
  color: rgb(183, 183, 183);
}
