#page_section {
  padding-top: 5rem;

  display: flex;
  flex-direction: row;

  border-style: solid;
  border-color: rgb(74, 74, 74);
  border-width: 0.2rem;
  border-radius: 0.7rem;
  height: 42.9rem;
}

.main_area {
  border-style: solid;
  border-color: rgb(41, 137, 0);
  border-width: 0.1rem;
  display: flex;
  height: 36.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-style: solid;
  border-color: rgb(74, 74, 74);
  border-width: 0.2rem;
  border-radius: 0.7rem;
  overflow-y: auto;
  width: 100%;
}
