#page_section {
  padding-top: 5rem;

  display: flex;
  flex-direction: row;

  height: 41.5rem;
}

.full_page {
  border-style: solid;
  border-color: rgb(74, 74, 74);
  border-width: 0.2rem;
  border-radius: 0.5rem;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
  font-size: 0.7rem;
  color: rgb(140, 140, 140);
}

.main_area {
  display: flex;
  height: 36.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-style: solid;
  border-color: rgb(74, 74, 74);
  border-width: 0.2rem;
  border-radius: 0.5rem;
  background-color: #15171d;
  overflow-y: auto;
  width: 100%;
}
